@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
    /* position: relative; */
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.opacityBackground{
    position: absolute;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    z-index: 0;
}

.header {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px;
    width: 100%;
    align-items: center;
}

li {
    float: left;
}

.codingLab,
.atag,
.button {
    text-decoration: none;
    color: white;
}

.button {
    padding: 6px 24px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.98);
}

.info {
    display: flex;
    gap: 60px;
    /* justify-content: space-between; */
}

.atag:hover {
    color: #d9d9d9;
}

.codingLab {
    font-size: 25px;
}

.loginWindow {
    position:absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    align-items: center;
    background-color: #fff;
    height: fit-content;
    width: 350px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.formTitle {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
    position: relative;
    width: 100%;
}

.formTitle button {
    position: absolute;
    border-style: none;
    background: none;
    color: darkgray;
    font-size: 25px;
    margin-right: 0px;
  
}

.formTitle button:hover {
    cursor: pointer;
    color: black;
}

.formTitle h1 {
    display: flex;
    justify-content: center;
    width: 270px;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    
}

.inputEmail,
.inputpassword {
    width: 100%;
}

.inputEmail form,
.inputpassword form {
    padding-top: 30px;
    display: flex;
    gap: 20px;
    /* justify-content: ; */
}

.emailImg,
.passwordImg,
#openEye {
    opacity: 0.5;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}
#openEye:hover{
    opacity:0.2;
}

#passwordForm button{
    border: none;
    background-color:rgba(255, 255, 255, 0);
}
#email,
#password {
    border-style: none;
    width: 100%;
}

.lineDiv {
    margin-top: 10px;
    background-color: darkgray;
    width: 100%;
    height: 2px;
}

.incorrectInput,
.incorrectPassword {
    margin-top: 5px;
    font-size: 8px;
    display: none;
    color: red;
}

.showIncorrectInput,
.showIncorrectPassword {
    display: block;
}

.optionFiled {
    width: 100%;
    display: flex;
    margin: 10px 0px 45px;
}

.optionFiled div {
    display: flex;
    column-gap: 8px;
    width: 100%;
    /* white-space: nowrap; */
}

.optionFiled input {
    accent-color: #7d2ae8;
}

.optionFiled label {
    /* width: 100%; */
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    /* user-select: none; */
    color: #0b0217;
}

.optionFiled a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #7d2ae8;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
}

.optionFiled a:hover {
    text-decoration: underline;
}

#loginButton, .createAccount, .alternativeSingUp {
    border: none;
    width: 100%;
    background-color: #7d2ae8;
    padding: 10px 0;
    border-radius: 10px;
    color: #fff;
    font-weight: bolder;
}

#loginButton:hover, .createAccount:hover, .alternativeSingUp:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(-0.10em);
    cursor: pointer;
}

.singUpLink {
    font-size: 12px;
    margin-top: 15px;
}

.singUpLink button, #singUpButton {
    background: none;
    border: none;
    text-decoration: none;
    color: #7d2ae8
}

.singUpLink button:hover {
    cursor: pointer;
    text-decoration: underline;
}
.singUpWindow{
    position: absolute;
    background-color: #fff;
    width: 500px;
    height: 600px;
    /* z-index: 1; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    height: fit-content;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}
.singUpWindow h1{
    display: flex;
    justify-content: center;
    /* width: 270px; */
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    line-height: normal;
}
.describtion{
    color: #8D8D8D;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.32px;
    margin-bottom: 68px;
}

input{
    border: none;

}
.inputs{
    display: grid;
    gap:30px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #0b0217;
}
.createAccount{
    margin: 40px 0px 20px;
    height: 48px;
}
.alternativeSingUp{
    text-decoration: none;
    background-color: #fff;
    color: black;
    border-style:solid;
    border-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alternativeSingUp img{
    width: 25px;
    margin-right: 10px;
}
.singUpQuestion{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}